.card__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  justify-items: center;
  margin-bottom: 30px
}
@media (max-width: 767px) {
  .card__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.img__gray {
  filter: grayscale(100%);
  width:"50";
  border-radius:"50%";

}

.img__valid {
  width:"50";
  border-radius:"50%";
}