.subimissionForm__controls {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    align-items: flex-start;
    width: 70%;
    margin-top: 20px
}

.subimissionFields__control {
    width: 100%;
    margin-bottom: 20px !important;
}

.submissionForm__CTA {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.button__submit {
    background-color: "#c036d8";
}