.subimissionForm__controls {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    align-items: flex-start;
    width: 70%;
    margin-top: 20px
}

.subimissionFields__control {
    width: 100%;
    margin-bottom: 20px !important;
}

.input__same-height input {
    height: 0px; /* Adjust the height value as needed */
  }

.submission__country {
    width: 100%;
    border-radius: 8px;
}

.submissionForm__CTA {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.button__submit {
    background-color: "#c036d8";
}

.option-label {
    display: flex;
    align-items: center;
  }
  
  .option-label img {
    margin-right: 5px;
  }