.description__container {
    background-color: #8ca1d8;
    height: 200px;
    border-radius: 40px;
    padding: 20px;
    margin-top: 40px;
    box-shadow: 20px 20px 50px grey;

}

.description__full {
    /* margin-top: 10px; */
}

.description__title {
    margin-top: 0;
    max-height: 10%;
    text-align: center;
}

.description__info {
    margin-top: 15px;

    display: flex;
    justify-content: center;
}

.description__icons {
    justify-content: center;
    display: flex;
    align-items: center;
}

.img__gray {
    filter: grayscale(100%);
    width:"30";
    border-radius:"50%";
    margin-left: "10px"
  
  }

.description__title {
    display: flex;
    align-items: center;
}



@media (max-width: 767px) {
    .description__text {
    
        overflow-y: auto;
        max-height: 60%;
    }
}