.banner--container {
background-image: url("../assets/CoverPictureXtremeWoman.png");
background-repeat: no-repeat;
background-position: center;
background-size:contain;
/* background-size: cover; */
display: flex;
justify-content: space-between;
}

.title--container {
display: flex;
flex-direction: column;
}
.page--container {
  display: flex;
  flex-direction: column;
}
.landing--action {
  margin-top: 12%;
  margin-right: 15%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.landing--title { 
  font-size: -webkit-xxx-large;
  font-weight: bolder;
  color: #E97777 ;
  margin-top: 20%;
  margin-left: 15%;
  margin-bottom: 0;
  width: 50%;
}

.landing--subtitle {
  font-size: x-large;
  font-weight: bold;
  margin-left: 100px;
  color: #E97777 ;

}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0px -1px 3px rgba(50, 50, 50, 0.75);    
    border-radius: 20px;
    transition: 0.3s;
    height: 300px;
    width: 200px;
    position: relative;
    display: flex;
    flex-flow: column;
    background-color: #E97777;

  }

  .card--image {
    width: 50%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 15px;
    border-radius: 50%;

  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .card--container {
    padding: 2px 16px;
    flex-grow: 1;
    height: 150px;
    display: flex;
    flex-direction: column;
    /* -webkit-box-shadow: 0px -1px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -1px 3px rgba(50, 50, 50, 0.75);
    box-shadow: 0px -1px 3px rgba(50, 50, 50, 0.75); */
    text-align: center;
    border-radius: 20px;
  }

  .card--title {
color: #f1f7f8 ;
font-weight: bold;
font-size: x-large;
margin-bottom: 55px;
height: 25px;
  }

  .card--info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    color: #f1f7f8 ;

  }
  .card--description {
    font-weight: normal;
  }
  