.card--grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 1000px;
    max-height: fit-content;
}
@media (max-width: 767px) {
    .card--grid {
      grid-template-columns: repeat(2, 1fr);
      width: auto;
    }
  }

.section__title {
border-bottom: solid 1px;
margin-top: 70px;
}